<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catálogo - Groove & Lens</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Groove & Lens</h1>
        <p>Explora nuestras categorías</p>
    </header>

    <ul class="lista-grid">
        <li class="card" th:each="categoria : ${listaCategorias}">
            <h2 th:text="${categoria.getNombre()}"></h2>

            <div th:if="${categoria.getImagen() == null}">
                <img th:src="@{/imagenes/categorias/Imagen_Generica.webp}" alt="Imagen no disponible" style="max-width: 150px;">
            </div>

            <p th:text="${categoria.getDescripcion()}"></p>

            <a class="btn" th:href="@{/categorias/{id}(id=${categoria.id})}">Ver detalles</a>
        </li>
    </ul>

    <footer>
        <a href="/sobre-nosotros.html">Sobre Nosotros</a> |
        <a href="/terms">Términos y Condiciones</a>
    </footer>
</div>
</body>
</html>