<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Términos - Groove & Lens</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Groove & Lens</h1>
    </header>
    <main>
        <h2>Términos y condiciones</h2>
        <p>Al navegar y comprar en esta tienda, aceptas que los vinilos molan mucho más que el formato digital. Nos comprometemos a enviar tus productos bien protegidos.</p>
    </main>
    <footer>
        <a href="/categorias">Volver a la Tienda</a>
    </footer>
</div>
</body>
</html>